main {
  padding-top: 40px;
}

.category {
  background-color: var(--turquoise);
  opacity: 0.8;
  color: white;
  text-decoration: none;
  padding: 30px;
}

.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 10px;
}

@media (min-width: 900px) {
  .category_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  h1 {
    font-size: 4rem;
  }
}
