.product {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6; /*number of max elements there are - number of rows*/
  position: relative; /* necessary to center soldout_text in product container */
  text-decoration: none;
  color: black;
  margin-bottom: 100px;
  border: 1px solid black;
  padding: 20px;
}

img {
  padding-bottom: 10px;
}

@media (min-width: 900px) {
  .product_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .product {
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
  }
}

.discount {
  bottom: 19px;
  right: 20px;
  font-size: 2.5rem;
}

.soldout {
  opacity: 0.5;
}

.soldout_text {
  top: 40%;
  left: 50%;
  font-size: 2rem;
}

#filter {
  margin-top: 10px;
  margin-bottom: 10px;
}
