.product {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4; /*number of max elements there are - number of rows*/
  position: relative; /* necessary to center soldout_text in product container */
  text-decoration: none;
  color: black;
  margin-bottom: 100px;
  border: 1px solid black;
  padding: 20px;
}

img {
  padding-bottom: 10px;
}

@media (min-width: 900px) {
  .product_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .product {
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
  }
}

.init_price {
  text-decoration: line-through;
  opacity: 0.5;
}

.soldout {
  opacity: 0.5;
}

.soldout_text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  font-family: "Bodoni Moda", serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  background-color: var(--turquoise);
  color: white;
  padding: 7px;
}
