.product_container {
  border: 1px solid black;
  padding: 30px;
  margin-top: 30px;
  position: relative;
}

@media (min-width: 900px) {
  .product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.variable_container {
  padding-bottom: 30px;
}

.brand_container {
  padding-bottom: 50px;
}

.size {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  border-radius: 0px;
}

.size:hover {
  background-color: var(--dark_beige);
}

.buy {
  padding: 15px;
  border: 1px solid var(--dark_beige);
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  border-radius: 0px;
}

.buy:hover {
  background-color: var(--turquoise);
}

/* position-size DISCOUNT AND SOLD OUT */
.discount {
  top: 19px;
  right: 20px;
  font-size: 3rem;
}

@media (min-width: 900px) {
  .discount {
    font-size: 4rem;
    top: 609px;
    right: 27px;
  }
}

.soldout_text {
  top: 32%;
  left: 50%;
  font-size: 2rem;
}

@media (min-width: 900px) {
  .soldout_text {
    top: 50%;
    left: 25%;
  }
}
